{% extends 'admins/adminbase.html' %}
{% load static %}
{% block contents %}

<style>
    .admin-home-container {
        background: rgba(255, 255, 255, 0.95);
        padding: 50px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .admin-home-container h2 {
        font-size: 2.2rem;
        color: #295b8d;
        margin-bottom: 20px;
    }

    .admin-home-container p {
        font-size: 1.1rem;
        color: #444;
        line-height: 1.8;
        max-width: 800px;
        margin: 0 auto 15px;
    }
</style>

<div class="admin-home-container">
    <h2>Welcome to Satellite Image Segmentation</h2>
    <p>
        This paper offers a deep learning approach for
semantic satellite imagery segmentation utilizing a modified U-
Net architecture. Leveraging a Dubai satellite imagery dataset,
the model classifies six distinct land-use categories, including
buildings, roads, vegetation, and water bodies. Preprocessing
methods including patch creation, normalization, and class bal-
ance are incorporated into the implementation through augment-
ing data. 
    </p>
    <p>
        Combining categorical focal loss and dice loss, which
addresses class imbalance and improves segmentation accuracy, is
one of the major advances.The study demonstrates the model’s
robustness in different fields of environmental monitoring and
urban planning applications. Insights into spatial resolution
challenges and model optimization strategies are also discussed.
    </p>
</div>

{% endblock %}
