venv/
venv311/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.hg/
.svn/
.CVS/
*.sqlite3
db.sqlite3
*.h5
.DS_Store
media/
staticfiles/
*screenshots.rtf
